@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 90vh;
    width: 99vw;
    background-color: black;
}
body {
    background: url(imagens/img.jpg) no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 98vh;
    position: relative;
    
}
 section#telefone {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(imagens/frame-iphone.png); 
  


}
section#rede-sociais {
    text-align: right;
}

section#rede-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    

} 



  section#rede-sociais img:hover{
    border: 2px solid gray;
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 10px gray;
    transition: transform .5s border 1s;

  }

    


iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 265px;
    height: 469px;
}